@import '../../../styles/variables.module.scss';
.info_success {
  fill: $success !important;
  stroke: $success;
}

.input_inner {
  padding: 24px 11.7px 7.28px 11.7px;
  font-size: $text-input-size-big;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: rgba(238, 238, 238, 0.60);
  border: none;
  &::placeholder {
    font-size: $text-input-size-big;
  }
}

.label_inner {
  position: absolute;
  top: 3px;
  left: 10px;
  color: $success !important;
}


@media ( max-width: 500px) {

.input_inner {

  font-size:$text-input-size;
  border: none;
  &::placeholder {
    font-size: $text-input-size;
  }
}

.label_inner {
  font-size: 14px;
}

}
