@import '../../../styles/variables.module.scss';

.container {
  background-image: url("../../../../public/assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
