//CORES

$background: #FFF;
$primary: #289257;
$secundary: #898989;

$success:#96C94F;
$error:#FF3B3B;
$warning:#FDF3D1;

$disabled: #DDE5E9;

//FONTS
$text-input-font-family:'Roboto';

//TEXT COLORS
$text-input-color: #3A3A3C;
$label-text-color: #8F90A6;
$placeholder-text-color: #DDE5E9;

//TEXT SIZES
$text-input-size: 12px;
$label-text-size: 12px;
$placeholder-text-size: 12px;

//TEXT WEIGHT
$text-input-weight: 600;
$label-text-weight: 600;
$placeholder-text-weight: 600;

//TEXT LINE HEIGHT
$text-input-line-height: 150%;
$label-text-line-height: 150%;

//TEXT LETTER SPACING
$text-input-letter-spacing: 0.1px;
$label-text-letter-spacing: 0.1px;



