@import '../../../styles/variables.module.scss';

.navbar_item {
  color: $secundary;
  font-family: $text-title-font-family Flex;
  font-size: $medin-text-size;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.navbar_item_active {
  color: $primary;
  text-decoration-line: underline;
  text-decoration-color: $primary;
}

.login_button {
  border-radius: 40px;
  border: 2px solid $success;
}

.login_button_text {
  color: $success;
  font-family: Sora;
  font-size: $medin-text-size;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


@media ( max-width: 1300px) {
  .navbar_item {
    font-size: 16px;
  }
}

@media ( max-width: 640px) {
  .navbar_item {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
  }
}
