.hidden_img {
  position: absolute;
  right: 25px;
  bottom: 9px;
  cursor: pointer;
}

.show_img {
  position: absolute;
  right: 25px;
  bottom: 10px;
  cursor: pointer;
}

.input_container {
  width: 100%;
  width:  420px;
}
